
<div class="benbg">
<div class="loginbody">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div  class="col-md-6">
                <div class="col-md-12">
                    <form  class="form" >
                        <h3 class="text-center text-dark">Login</h3>
                        <br>
                        <div class="form-group">
                            <label for="email" class="text-dark">username:</label><br>
                            <input type="text" id="email" class="form-control" name="login-email" >
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="password" class="text-dark">Password:</label><br>
                            <input type="text" id="password" class="form-control"  name="login-password">
                        </div>
                        <br>
                            <input  class="btn btn-warning w-100" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
