 <div class="body">


  <nav class="navbar navbar-expand-lg navbar-dark sticky-md-top bennav">
        <div class="container">
          <a class="navbar-brand" routerLink="/">Ongea Nasi</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item  m-2 px-3 btns">
                <a class="nav-link active" aria-current="page" routerLink="/" >Home</a>
              </li>

              <li class="nav-item m-2 px-3 btns">
                <a class="nav-link active" aria-current="page" routerLink="profile" >Profile</a>
              </li>

              <li class="nav-item m-2 px-3 btns">
                <a class="nav-link active" aria-current="page" href="#" aria-current="page" data-bs-toggle="modal" data-bs-target="#post">Share</a>
              </li>

              <li class="nav-item m-2 px-3 btns">
                <a class="nav-link active" aria-current="page" routerLink="signup">Signup</a>
              </li>

              <li class="nav-item m-2 px-3 btns">
                <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <!-- modal  -->
      <div class="modal fade" id="post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Hi!! Post an Your story here</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form >

              <div class="form-group">
                    <label for="image_name">Post name</label>
                    <input type="text" class="form-control" name="title"
                        required>
                </div>
                <div class="form-group">
                    <label for="image_name">location</label>
                    <input type="text" class="form-control"  name="location" 
                    required>
                </div>
                <div class="form-group mt-3">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        name="content" required></textarea>
                </div>
                <div class="form-group mt-3">
                    <label for="exampleFormControlFile1">Upload a file</label>
                    <input type="file" class="form-control" id="exampleFormControlFile1"
                        name="image">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Upload</button>
                </div>
            </form>
          </div>
    
    
          </div>
        </div>
      </div>
      <!-- modal  -->




      <router-outlet></router-outlet>



      <!-- footer  -->
      <div class="card text-center text-light mt-4" style="background-color: rgba(0, 0, 0, 0.753);">
        <div class="card-header">
          Ongea nasi is a free orginazion and does not charge its users for any servicies offered
        </div>
        <div class="card-body">
            <div class="row">

            </div>
        </div>
        <div class="card-footer text-muted">
         <small>copyright 2021</small>
        </div>
      </div>




    </div> 