/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";
.body{
    min-height: 100vh;
}
.btns:hover{
    background-color: rgb(0, 102, 255);
    border-radius: 20px;
    transition: .3s all ease-in-out;
}
.benc{
    height: 600px;
    object-fit: cover;
    object-position: center;
}
.bens{
    margin-top: -100px;
}
.bennav{
    background-color: rgba(0, 0, 0, 0.5);
}
.bennav:hover{
    background-color: rgba(0, 0, 0, 0.753);
    transition: .5s all ease-in-out;
}

.benimg{
    height: 400px;
    object-fit: cover;
}
.loginbody{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 18%;
}
/* .benbg{
} */
.signinbody{
    margin: auto;
    margin-top: 8%;
    margin-bottom: 16.8%;
}
.slide{
    position: relative;
}
.overlay{
    position: absolute;
    top: 45%;
    margin: auto;
    height: fit-content;
    text-align: center;
    color: rgb(246, 111, 0);
    text-shadow: rgb(27, 27, 27) 2px 5px 4px;
  }
  .carousel-inner{
    filter: blur(4px);
  }