<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide bens" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/1.jpg" class="d-block w-100 benc" alt="sorry">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/2.jpg" class="d-block w-100 benc" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/img/3.jpg" class="d-block w-100 benc" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- end carousel -->

  <div class="container">
      <div class="row">
          <!-- card  for advice -->
        <div class="card col-sm-6 mt-2">
            <img src="../../assets/img/s1.jpg" class="card-img-top col-sm-12 mt-2 benimg" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="text-muted"data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">view more coments</h6>
            <!-- coment section  -->
            <div class="card col-md-12 mt-2 collapse" id="collapseExample">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
              </div>
            <!-- end coment section  -->
            </div>
        </div>
         <!-- card  for advice -->

                   <!-- card  for advice -->
        <div class="card col-sm-6 mt-2">
            <img src="../../assets/img/s2.jpg" class="card-img-top col-sm-12 mt-2 benimg" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="text-muted"data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">view more coments</h6>
            <!-- coment section  -->
            <div class="card col-md-12 mt-2 collapse" id="collapseExample2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
              </div>
            <!-- end coment section  -->
            </div>
        </div>
         <!-- card  for advice -->



                   <!-- card  for advice -->
        <div class="card col-sm-6 mt-2">
            <img src="../../assets/img/s3.jpg" class="card-img-top col-sm-12 mt-2 benimg" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="text-muted"data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">view more coments</h6>
            <!-- coment section  -->
            <div class="card col-md-12 mt-2 collapse" id="collapseExample3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
              </div>
            <!-- end coment section  -->
            </div>
        </div>
         <!-- card  for advice -->



                   <!-- card  for advice -->
        <div class="card col-sm-6 mt-2">
            <img src="../../assets/img/s4.jpg" class="card-img-top col-sm-12 mt-2 benimg" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h6 class="text-muted"data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">view more coments</h6>
            <!-- coment section  -->
            <div class="card col-md-12 mt-2 collapse" id="collapseExample4">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
              </div>
            <!-- end coment section  -->
            </div>
        </div>
         <!-- card  for advice -->


      </div>
  </div>
